#red {
    color: red;
}

#orange {
    color: orange;
}

#cyan {
    color: cyan;
}

#pink {
    color: pink;
}

#gray {
    color: LightGray;
}

#yellow {
    color: yellow;
}

#blue {
    color: aqua;
}

#green {
    color: Limegreen;
}

#bright-red {
    color: crimson;
}

#light-gray {
    color: LightSteelBlue;
}